/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* All */
* {
	margin: 0px;
	padding: 0px;
}
body, html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	background: #1a1b27;
}

/* Headings and parahrapghs*/
h1 {
	font-family: 'Roboto';
	font-size: 32px;
	color: #f5f5f5;
}
p {
	font-family: 'Roboto';
	font-size: 16px;
	color: #f5f5f5;
}

/* Links */
a {
	text-decoration: none;
	font-family: 'Roboto';
}
a:link {
	color: #f5f5f5;
}
a:visited {
	color: #cdcaf0;
}
a:hover {
	color: #ffb555 !important;
}
a:active {
	color: #ff7d55 !important;
}

/* Header */
.header {
	background: #11121a;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px 40px;
}
.header a {
	font-size: 20px;
}
.header a:visited {
	color: #f5f5f5;
}
.header-title {
	flex: auto;
}
.header-navigation {
	display: flex;
	flex-direction: row;
	justify-content: left;
}
.header-navigation a {
	padding-left: 30px;
}

/* Footer */
.footer {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	background: #11121a;
	padding: 27px 20px;
}
.footer-navigation {
	display: flex;
	flex-direction: row;
}
.footer-icon {
	fill: #f5f5f5;
	width: 40px;
	padding: 0 5px;
}
.twitter-icon:hover {
	fill: #1DA1F2;
}
.github-icon:hover {
	fill: #a5a5a5;
}
.itchio-icon:hover {
	fill: #fa5c5c;
}
.copyright-notice {
	padding-top: 10px;
}

/* Main */
.main {
	flex: 1 0 auto;
}