* {
	margin: 0px;
	padding: 0px;
}
body, html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	background: #1a1b27;
}

/* Headings and parahrapghs */
h1 {
	font-family: 'Roboto';
	font-size: 32px;
	color: #f5f5f5;
}
h2 {
	font-family: 'Roboto';
	font-size: 28px;
	color: #f5f5f5;
}
p {
	font-family: 'Roboto';
	font-size: 16px;
	color: #f5f5f5;
}

/* Horizontal rule */
hr {
	border-color: #a5a5a5;
	border-top-width: 0px;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

/* Links */
a {
	font-family: 'Roboto';
}
a:link {
	color: #f5f5f5;
}
a:visited {
	color: #cdcaf0;
}
a:hover {
	color: #ffb555 !important;
}
a:active {
	color: #ff7d55 !important;
}

/* HEADER */
.header {
	background: #11121a;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px 40px;
}
.header a {
	font-size: 20px;
	text-decoration: none;
}
.header a:visited {
	color: #f5f5f5;
}
.header-title {
	flex: auto;
}
.header-navigation {
	display: flex;
	flex-direction: row;
	justify-content: left;
}
.header-navigation a {
	padding-left: 30px;
}
.nav-highlighted {
	text-decoration: underline !important;
	text-decoration-thickness: 1px !important;
}
@media screen and (max-width: 800px) {
	#nav-long {
		display: none;
	}
	#nav-short {
		display: block;
	}
}
@media screen and (min-width: 800px) {
	#nav-long {
		display: block;
	}
	#nav-short {
		display: none;
	}
	#nav-bottom {
		display: none !important;
	}
}
#nav-bottom {
	display: none;
	flex-direction: column;
	background-color: #11121a;
	padding: 0 0 20px 40px;
}
#nav-bottom a{
	color: #f5f5f5;
	font-size: 20px;
	text-decoration: none !important;
}
.icon {
	border: none;
	background: none;
	width: auto;
}
.icon > img {
	width: 30px;
	filter: brightness(0) invert(1);
}
.icon > img:hover { filter: invert(66%) sepia(93%) saturate(356%) hue-rotate(336deg) brightness(103%) contrast(101%); }

/* FOOTER */

footer {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	background: #11121a;
	padding: 27px 20px;
}

#footer-navigation {
	display: flex;
	flex-direction: row;
}

.footer-icon {
	fill: #f5f5f5;
	width: 34px;
	padding: 0 9px;
}

/* https://codepen.io/sosuke/pen/Pjoqqp */
.github-icon:hover { filter: invert(61%) sepia(73%) saturate(0%) hue-rotate(207deg) brightness(94%) contrast(93%); }
.linkedin-icon:hover { filter: invert(25%) sepia(52%) saturate(3180%) hue-rotate(197deg) brightness(98%) contrast(92%); }
.bluesky-icon:hover { filter: invert(47%) sepia(62%) saturate(6005%) hue-rotate(195deg) brightness(102%) contrast(102%); }
.twitter-icon:hover { filter: invert(57%) sepia(49%) saturate(3510%) hue-rotate(175deg) brightness(96%) contrast(98%); }
.youtube-icon:hover { filter: invert(30%) sepia(94%) saturate(7230%) hue-rotate(355deg) brightness(96%) contrast(123%); }
.itchio-icon:hover { filter: invert(52%) sepia(61%) saturate(3035%) hue-rotate(325deg) brightness(99%) contrast(98%); }

.copyright-notice {
	padding-top: 10px;
}

/* MARKDOWN */
/* All */
h1.markdown,
h2.markdown,
h3.markdown,
h4.markdown,
h5.markdown,
h6.markdown,
p.markdown,
a.markdown,
ul.markdown{
	font-family: 'Roboto';
	color: #f5f5f5;
}
/* Heading */
h1.markdown,
h2.markdown,
h3.markdown,
h4.markdown,
h5.markdown,
.markdown h6 {
	padding-top: 0.4em;
	font-weight: bold;
}
.markdown h1 {
	font-size: 2em;
}
.markdown h2 {
	font-size: 1.5em;
}
.markdown h3 {
	font-size: 1.17em;
}
.markdown h4 {
	font-size: 1em;
}
.markdown h5 {
	font-size: 0.83em;
}
.markdown h6 {
	font-size: 0.67em;
}
/* Paragraph and list */
.markdown p,
.markdown ul {
	font-size: 1em;
}
/* Horizontal rule */
.markdown hr {
	border-color: #a5a5a5;
	border-top-width: 0px;
	margin-top: 0em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}
/* Link */
.markdown a:link {
	color: #b2acf0;
}
.markdown a:visited {
	color: #8480b1;
}
.markdown a:hover {
	color: #ffb555;
}
.markdown a:active {
	color: #ff7d55;
}
/* Image */
p.markdown > img {
	max-width: 100%;
}

/* CONTENT */
#content {
	flex: 1 0 auto;
	padding: 30px 15px;
	width: auto;
}
@media screen and (min-width: 700px) {
	#content {
		padding: 30px 100px;
	}
}

/* index.html */
/* Introduction */
.introduction {
	text-align: left;
	padding: 20px 0 35px;
}
.introduction h1 {
	font-family: "Arial";
	font-size: 3rem;
}
.introduction p {
	font-size: 1.5rem;
}
/* Recent projects */
.recent-projects h2 {
	padding-top: 0.5em;
}
#recent-projects {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.item-1,
.item-2,
.item-3 {
	padding-right: 15px;
	max-width: 33%;
}
.item-1 img,
.item-2 img,
.item-3 img {
	max-width: 100%;
	padding-top: 5px;
}
.item-1 h2,
.item-2 h2,
.item-3 h2 {
	color: #afafaf;
	font-size: 24px;
	padding-bottom: 5px;
}
@media screen and (max-width: 700px) {
	#recent-projects,
	#recent-games {
		flex-direction: column !important;
	}
	.item-1,
	.item-2,
	.item-3 {
		padding-right: 0;
		max-width: 100%;
	}
}
/* Hit count */
.visits {
	text-align: left;
}
.visits th {
	font-family: "Roboto";
	color: #afafaf;
	font-size: 1.6rem;
}
.hits {
	color: #ffb555 !important;
	padding-left: 30px;
}

/* downloads.html */
.downloads-table {
	color: #f5f5f5;
	background-color: #323449;
	border: 1px solid #f5f5f5;
	border-collapse: collapse;
	font-family: "Roboto";
}
.downloads-table th {
	background-color: #1d1e2b;
}
.downloads-table th,
.downloads-table tr,
.downloads-table td {
	border: 1px solid #f5f5f5;
	padding: 4px;
}

/* articles.html */
#content .article {
	max-width: 600px;
}
#content .date {
	color: #afafaf;
	font-size: 12px;
	text-transform: uppercase;
	padding-bottom: 10px;
}
#content .article-paragraph {
	padding-bottom: 10px;
}
#content .article-image {
	width: auto;
	width: 100%;
	padding-bottom: 10px;
}
