* {
	margin: 0px;
	padding: 0px;
}
body, html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	background: #1a1b27;
}

/* Headings and parahrapghs */
h1 {
	font-family: 'Roboto';
	font-size: 32px;
	color: #f5f5f5;
}
h2 {
	font-family: 'Roboto';
	font-size: 28px;
	color: #f5f5f5;
}
p {
	font-family: 'Roboto';
	font-size: 16px;
	color: #f5f5f5;
}

/* Horizontal rule */
hr {
	border-color: #a5a5a5;
	border-top-width: 0px;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

/* Links */
a {
	font-family: 'Roboto';
}
a:link {
	color: #f5f5f5;
}
a:visited {
	color: #cdcaf0;
}
a:hover {
	color: #ffb555 !important;
}
a:active {
	color: #ff7d55 !important;
}

/* HEADER */
.header {
	background: #11121a;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px 40px;
}
.header a {
	font-size: 20px;
	text-decoration: none;
}
.header a:visited {
	color: #f5f5f5;
}
.header-title {
	flex: auto;
}
.header-navigation {
	display: flex;
	flex-direction: row;
	justify-content: left;
}
.header-navigation a {
	padding-left: 30px;
}
.nav-highlighted {
	text-decoration: underline !important;
	text-decoration-thickness: 1px !important;
}
@media screen and (max-width: 700px) {
	#nav-long {
		display: none;
	}
	#nav-short {
		display: block;
	}
}
@media screen and (min-width: 700px) {
	#nav-long {
		display: block;
	}
	#nav-short {
		display: none;
	}
	#nav-bottom {
		display: none !important;
	}
}
#nav-bottom {
	display: none;
	flex-direction: column;
	background-color: #11121a;
	padding: 0 0 20px 40px;
}
#nav-bottom a{
	color: #f5f5f5;
	font-size: 20px;
	text-decoration: none !important;
}
.icon {
	padding-left: 0px !important;
}

/* FOOTER */
footer {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	background: #11121a;
	padding: 27px 20px;
}
#footer-navigation {
	display: flex;
	flex-direction: row;
}
.footer-icon {
	fill: #f5f5f5;
	width: 34px;
	padding: 0 9px;
}
.twitter-icon:hover {
	fill: #1DA1F2;
}
.github-icon:hover {
	fill: #a5a5a5;
}
.itchio-icon:hover {
	fill: #fa5c5c;
}
.youtube-icon:hover {
	fill: #FF0000;
}
.copyright-notice {
	padding-top: 10px;
}

/* MARKDOWN */
/* All */
h1.markdown,
h2.markdown,
h3.markdown,
h4.markdown,
h5.markdown,
h6.markdown,
p.markdown,
a.markdown {
	font-family: 'Roboto';
	color: #f5f5f5;
}
/* Heading */
h1.markdown,
h2.markdown,
h3.markdown,
h4.markdown,
h5.markdown,
.markdown h6 {
	font-weight: bold;
}
.markdown h1 {
	font-size: 2em;
}
.markdown h2 {
	font-size: 1.5em;
}
.markdown h3 {
	font-size: 1.17em;
}
.markdown h4 {
	font-size: 1em;
}
.markdown h5 {
	font-size: 0.83em;
}
.markdown h6 {
	font-size: 0.67em;
}
/* Paragraph */
.markdown p {
	font-size: 1em;
}
/* Horizontal rule */
.markdown hr {
	border-color: #a5a5a5;
	border-top-width: 0px;
	margin-top: 0em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}
/* Link */
.markdown a:link {
	color: #b2acf0;
}
.markdown a:visited {
	color: #8480b1;
}
.markdown a:hover {
	color: #ffb555;
}
.markdown a:active {
	color: #ff7d55;
}
/* Image */
p.markdown > img {
	max-width: 100%;
}

/* CONTENT */
#content {
	flex: 1 0 auto;
	padding: 30px 15px;
	width: auto;
}